.btn {

    float:right;

}

#close:hover{
    box-shadow: 0 0 0 1px #808080;
}

#comment:hover{
    color:green;
}

body{
background-color:	#DCDCDC;
font-family: -apple-system, BlinkMacSystemFont, ?Segoe UI?, Roboto, ?Helvetica Neue?, Arial, sans-serif, ?Apple Color Emoji?, ?Segoe UI Emoji?, ?Segoe UI Symbol?;
/* default is 1rem or 16px */
font-size: 15px;
font-weight: 400;
line-height: 2.5;
}

.message {
 
    border-radius: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:	#DCDCDC;
    text-align: center;
    padding-bottom: 20px;

}

.message2 {
    
    border-radius: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:white;
    text-align: center;
    padding-bottom: 20px;

}

.badge-outline-danger {
    color: #f1536e;
    border: 1px solid #f1536e
}

.badge-outline-success {
    color: #00c689;
    border: 1px solid #00c689
}


.badge-outline-warning {
    color: #fda006;
    border: 1px solid #fda006
}

.list-group-item-action.active{
    background-color:rgb(165, 52, 52) !important;
 border-color: black;

}

.btn{
    border-radius: 10px;
}


.form-horizontal{
   border:2px;
   border-color:red;
}

 .ticket{
    width:300px;
    height:300px;
    border-radius: 5%;
    cursor: pointer;
 
    
}

.logo{
    width: 200px;
      height: auto;
    border-radius:40px;
 
}


.logosmall{
    width:50px;
    border-radius:40px;
}

.login{
    border-radius:40px;
    background-color:#E9EBEE;
}

.card{
    border-radius:5px; 
    

}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
    
}
.commentpicture{
    width: 100px;
    cursor: pointer;
    
  
   
} 

.faq {
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.faq1 {
    box-shadow:0.5px 0.5px 0.5px 0.5px rgba(218, 29, 29, 1), 0 6px 10px 0 rgba(231, 13, 13, 1);
}


.faq2 {
    box-shadow:0.5px 0.5px 0.5px 0.5px rgb(50, 92, 228), 0 6px 10px 0 rgb(51, 79, 238);
}

#pimage{
    width: 500px;
    
   
}

#cimage{
    width: 300px;
    
   
}